body {
  font-family: Arial, Helvetica, sans-serif;
}

.game-box {
  margin: auto;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.list-group-item {
  background-color: #222;
  color: #fff;
}
