body {
  font-family: Arial, Helvetica, sans-serif;
}

.game-box {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 15px;
  cursor: pointer;
}

.list-group-item {
  background-color: #222;
  color: #fff;
}
